[Unit]
Description=Ugreen ZFS LEDs
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/ugreen-zfs-leds
ExecStart=/usr/bin/python3 -m ugreen-zfs-leds
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
